<!--
 * @Author: your name
 * @Date: 2020-11-20 11:25:51
 * @LastEditTime: 2020-11-20 15:24:35
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \angular-demo\src\app\heroes\heroes.component.html
-->
<h2>My Heroes</h2>
<ul class="heroes">
  <li 
    *ngFor="let hero of heroes"
    [class.selected] = "hero === selectedHero"
    (click)="onSelect(hero)"
  >
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
